body {
    margin: 0;
    padding: 0;
}
/* Things to do:
    format buttons
        number buttons and operator buttons same size, except
        add + button twice as tall (takes up two rows)
        border-radius to smooth corners
        colors?
    format display
        color
        font in display?
    
*/
#calculator {
    border: solid 5px black;
    border-radius: 5px;
    width: 320px;
    margin: auto;
    padding: 5px;
    background-color: lightgray;
}

#display {
    background-color: rgb(100, 255, 255);
    border: solid 2px black;
    border-radius: 2px;
    height: 100px;
    box-sizing: border-box;
}

#display-text {
    font-size: 2rem;
    text-align: end;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

#button-container {
    display: flex;
    flex-direction: column;
}

.button-row {
    display: flex;
    
}

button {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-color: darkgrey;
    font-weight: bold;
    font-size: 1.5rem;
}

#zero, #divide {
margin-left: auto;
}

#divide {
    
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}