body {
    margin: 0;
    padding: 0;
}
/* Things to do:
    format buttons
        number buttons and operator buttons same size, except
        add + button twice as tall (takes up two rows)
        border-radius to smooth corners
        colors?
    format display
        color
        font in display?
    
*/
#button-container {
    display: flex;
    flex-direction: column;
}

.button-row {
    display: flex;
    
}

button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#clear {
    margin-right: auto;
}