body {
    margin: 0;
    padding: 0;
}

#calculator {
    border: solid 5px black;
    border-radius: 5px;
    width: 320px;
    margin: auto;
    padding: 5px;
    background-color: lightgray;
}

#display {
    background-color: rgb(100, 255, 255);
    border: solid 2px black;
    border-radius: 2px;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 10px;
}

#display-text {
    margin: 0;
    font-size: 3rem;
    text-align: right;
    font-family: 'alarm clock', sans-serif;
}

#button-container {
    display: flex;
    flex-direction: column;
}

.button-row {
    display: flex;
    
}

button {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-color: darkgrey;
    font-weight: bold;
    font-size: 1.5rem;
}

button:disabled {
    opacity: 75%;
    cursor: not-allowed;
}

#zero, #divide {
margin-left: auto;
}

#clear {
    background-color: darkorange;
}

.error {
    color: red;
}